
module my-phpfpm 1.0;

require {
	type httpd_t;
	type user_home_t;
	class file { create open read unlink write };
	class dir { add_name create read remove_name write };
}

#============= httpd_t ==============
allow httpd_t user_home_t:dir { create read };

#!!!! This avc is allowed in the current policy
allow httpd_t user_home_t:dir { add_name remove_name write };

#!!!! This avc is allowed in the current policy
allow httpd_t user_home_t:file { create open read unlink write };
