a:link{color:blue;text-decoration:none}
a:visited{color:blue;text-decoration:none}
a:hover{color:cyan}
h2{color:blue}
.toprow{
	background-color:#8080FF;
	color:#FFFFFF;
    font-weight:bold;
}
.oddrow{background-color:#A0FFFF;}
.evenrow{background-color:#E0FFF0;}
body{background-color:#F0F0F0}
.hd{
background-color:#F1F1F1;
color:#FFFFFF;
font-weight:bold;
}

