.toprow{
   background-color:#79a3d5;
   white-space:nowrap;
}

.dropdown-menu,.navbar-default{
   background-color:#79a3d5;
   background-repeat: repeat-x;
   border-radius: 4px;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}
.http_judge_form{
   white-space:nowrap;
}
.center{
   text-align: center
}
.sampledata {
    background: none repeat scroll 0 0 #ccccFF;
    font-family: Monospace;
    font-size: 18px;
    line-height:2px;
    white-space: pre;
}

body {
   padding: 50px;
   background-image:url('https://api.paugram.com/wallpaper/');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 0 auto;
    top: 0;
    left: 0;
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index: 9999;
    color:#999;
    border: 0px solid #000;
}
/* funny color*/

.dropdown-menu,.navbar-default{
   color:#999;
   background-repeat: repeat-x;
   border-radius: 4px;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}
.btn-warning{
    background-color:#ff8000;
}
.btn-success{
    background-color:#33cc99;
}
.jumbotron{
    color:#000;
    background-color:#ddd;
}
.btn-danger{
    background-color:#d3406d;
}
.toprow{
   color:#999;
   background-color:#000000;
   white-space:nowrap;
}

.container{
 background-color:white;
 opacity:0.95;

}
