@import "variable"; // variable



.progress-bar {
  background-color: $primary;
}



.progress-bar-primary {
  background-color: $primary;
}



.progress-bar-success {
  background-color: $success;
}



.progress-bar-info {
  background-color: $info;
}



.progress-bar-danger {
  background-color: $danger;
}




.progress-bar-warning {
  background-color: $warning;
}



.progress-bar-pink {
  background-color: $pink;
}





