/*
    Template: Unix
    Author: VueJS Admin
    Url: https://vuejsadmin.com
    Developer by: VueJS Admin

*/

@import "variable"; // variable
@import "fonts"; // fonts.scss
@import "card"; // card.scss
@import "badge"; // badge.scss
@import "tab"; // tab.scss
@import "modal"; // modal.scss
@import "timeline"; // timeline.scss
@import "data-table"; // data-tableless
@import "panel"; // card.scss
@import "button"; // button.scss
@import "header"; // home.scss
@import "gmap"; // gmap.scss
@import "chat"; // chat.scss
@import "carousel"; // carousel.scss
@import "weather"; // weather.scss
@import "invoice-edit"; // invoice-edit.scss
@import "invoice"; // invoice.scss
@import "widget-stat"; // widget-stat.scss
@import "recent-comments"; // recent-comments.scss
@import "recent-message"; // recent-message.scss
@import "forms"; // form.scss
@import "compose-email"; // compose email.scss
@import "progress-bar"; // progressbar.scss
@import "todo-list"; // todo-list.scss
@import "datamap"; // datamap.scss
@import "table"; // table.scss
@import "order-progress"; // order-progress.scss
@import "login"; // login.scss
@import "chart"; // chart.scss
@import "nestable"; // nestable.scss
@import "profile"; // profile.scss
@import "ui-element-basic"; // ui-element-basic.scss
@import "calendar"; // calendar.scss
@import "flot-chart"; // flot-chart.scss
@import "morris-chart"; // morris-chart.scss
@import "products_1"; // fonts.scss
@import "products_2"; // fonts.scss
@import "products_3"; // fonts.scss
@import "favourite_menu"; // fonts.scss
@import "order-list"; // order-list.scss
@import "booking-system"; // booking-system.scss
@import "scrollable"; // scrollable.scss
@import "vector-map"; // vector-map.scss
@import "menu-upload"; // menu-upload.scss
@import "global"; // fonts.scss

