//    Font Variable 
$mont:'Quicksand', sans-serif;
$mol: 'Quicksand', sans-serif;




//    Color Variable 
$primary:#f96332;
$success:#87de75;
$info:#03a9f4;
$danger:#e74c3c;
$warning:#f39c12;
$pink:#e6a1f2;
$dark:#252525;
$default:#878787;
$text:#878787;
$text-light:#878787;
$border:#eee;



//   Solid Color 
$white:#fff;
$white-light:#f5f5f5;
$black:#252525;
$border:#e7e7e7;





//    Brand color 
$facebook:#3b5998;
$twitter:#1da1f2;
